.project {
    box-sizing: border-box;
    float: left;
    height: 250px;
    padding: 10px;
    vertical-align: middle;
    width: 33.33%;

    .thumbnail {
        overflow: hidden;
        height: 200px;
        width: 100%;

        img {
            height: auto;
            position: relative;
                left: -25%;
                top: -5%;
            width: 500px;
        }

        a {
            float: left;
            height: 230px;
            position: relative;
            width: 100%;

            span {
                /*display: none; this makes it vissible always and not only when mouse is over*/
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgb(21, 136, 75);
                color: #00369f;
                padding: 40px;
                text-align: center;

                h1 {
                    font-size: 1.5rem;
                    margin: 0;
                }

                p {
                    color: #c6d7e6;
                }
            }

            &:hover {
                span {
                    display: block;
                }
            }
        }
    }
}
